	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="main-menu" href="home.html">
				<img class="full {{cordova_full_path}}" src="{{cordova_full_path}}images/back.svg"></a>
			<h2 class="titulo">{{data.header_title}}</h2>
		</div>
	</header>
	<ul class="lista_chat" id="contacts-list">
		{{# data.items}}
			<a class='btnDialogs' data-gingerid="" data-qbox="{{user_id}}" data-dialog="{{_id}}" >
				<li class='persona' >
					<div class='circle-frame'>
						<img src='{{../cordova_full_path}}images/Icon-60@3x.png'>
					</div>
					<h5 style='margin-top:10px'>{{name}}</h5>
				</li>
			</a>
		{{/ data.items}}
	</ul>

	<footer class="menu-bar hwhite2">
		<a id="btn_chats" class="footer_buttons active">
			<img src="{{cordova_full_path}}images/menu/chat.svg">
			<span>chat</span>
		</a>
		<a id="btn_contacts" class="hook" data-resource="user-list" href="lista-usuarios.html">
			<img src="{{cordova_full_path}}images/menu/contacts.svg">
			<span>perfiles</span>
		</a>
	</footer>
		