	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="{{cordova_full_path}}home.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<img class="la_img" src="https://gingerfiles.blob.core.windows.net/coaches/{{me._id}}.png">
	<h2 class="cpur">{{me.nombre}} {{me.appellido}}</h2>
	<p class="bio-coach"><strong>{{me.frase}}</strong></p>
	<p class="bio-coach">{{me.bio}}</p>
	<div class="rate-stars">
		{{{data.stars.html}}}
	</div>
	<div class="profile-menu">
		<div class="info-coach">
			<ul>
				<li>
					<span>Tipo de Coach: 
						<strong id="coach_type_perfil">{{personalidad_concat}}</strong>
					</span>
				</li>
			</ul>
		</div>
		<a id="blog" href="http://www.gingerapp.mx/blogposts/">
			<img src="{{cordova_full_path}}images/profile/blog.svg">
			Blog
		</a>
		<a href="about.html">
			<img src="{{cordova_full_path}}images/profile/settings.svg">
			Acerca de
		</a>
		<a id="logout" class="logout" href="#">
			<img src="{{cordova_full_path}}images/profile/logout.svg">
			Cerrar Sesión
		</a>
	</div>

	<div class="overscreen2" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Ginger</h5>
			<p>¿Estás seguro que deseas<br>cerrar la sesión?</p>
			<div class="di-options">
				<a id="accept" class="accept logout">Cerrar sesión</a>
				<a class="cancel">Cancelar</a>
			</div>
		</div>
	</div>