	{{# data.items}}
		<li class="list-group-item" id="{{_id}}" onclick="clickToAddMsg('{{_id}}')">
			<div class="{{sender}}">
				<p>
					{{# has_attachments}}
						<a href="http://api.quickblox.com/blobs/{{attachmentFileId}}/download.xml?token={{../data.token}}">
							<img src="http://api.quickblox.com/blobs/{{attachmentFileId}}/download.xml?token={{../data.token}}" alt="attachment" class="attachments img-responsive" />
						</a>
					{{/ has_attachments}}
					{{^ has_attachments}}
						{{message}}
					{{/ has_attachments}}
					{{# messageAttach}}
						{{.}}
					{{/ messageAttach}}
				</p>
			</div>
		</li>
		<li class="clearfix"></li>
	{{/ data.items}}
	
	{{# is_read}}
		<img class="icon-small" src="{{cordova_full_path}}images/read.jpg" alt="" id="read_{{../_id}}">
	{{/ is_read}}
	
	{{# is_delivered}}
		<img class="icon-small" src="{{cordova_full_path}}images/delivered.jpg" alt="" id="delivered_{{../_id}}">
	{{/ is_delivered}}

	{{# isMessageSticker}}
		<div class="message-sticker-container"></div>
	{{/ isMessageSticker}}
	