	<header class="hwhite">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="{{cordova_full_path}}home.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<a class="btn-gre">Recibo de honorarios</a>
	<p class="acumulado">Saldo acumulado del <span class="inicio">1</span> al <span class="final">{{this_day}} de {{this_month}}</span></p>
	<p class="cantidad">$ <span class="totalAcumulado">{{total_amount}}</span> MXN</p>
	<p class="status">PAGADO</p>
	<p class="diasac">Total de días acumulados<br><span class="total">{{total_days}}</span></p>
	<div class="changer">
		<a class="btn_left" href="#"><img src="{{cordova_full_path}}images/leftarrow.png"></a>
		<span class="mes">{{this_month}}</span>
		<a class="btn_right" href="#"><img src="{{cordova_full_path}}images/rightarrow.png"></a>
	</div>
	<table class="record">
		<tr>
			<th>Nombre</th>
			<th>Inicio</th>
			<th>Días</th>
			<th>Saldo</th>
		</tr>
		{{# each clients}}
			<tr>
				<td>{{name}}</td>
				<td>{{days_since_subscription}}</td>
				<td>{{days_this_month}}</td>
				<td>$ {{amount_this_month}}</td>
			</tr>
		{{/ each}}
		
	</table>