	<p class="acumulado">Saldo acumulado del <span class="inicio">1</span> al <span class="final">{{data.this_day}} de {{data.this_month}}</span></p>
	<p class="cantidad">$ <span class="totalAcumulado">{{data.total_amount}}</span> MXN</p>
	<p class="status">PAGADO</p>
	<p class="diasac">Total de días acumulados<br><span class="total">{{data.total_days}}</span></p>
	<div class="changer">
		<a class="btn_left" href="#"><img src="{{cordova_full_path}}images/leftarrow.png"></a>
		<span class="mes">{{data.this_month}}</span>
		<a class="btn_right" href="#"><img src="{{cordova_full_path}}images/rightarrow.png"></a>
	</div>
	<table class="record">
		<tr>
			<th>Nombre</th>
			<th>Inicio</th>
			<th>Días</th>
			<th>Saldo</th>
		</tr>
		{{# each data.clients}}
			<tr>
				<td>{{name}}</td>
				<td>{{member_since}}</td>
				<td>{{days}}</td>
				<td>$ {{amount}}</td>
			</tr>
		{{/ each}}
		
	</table>