	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="home.html"><img src="{{cordova_full_path}}images/back.svg"></a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<ul class="list-users">
		{{# each data.users}}
			<li class="usuario-item" data-key="{{@key}}" data-chatid="{{chatId}}">
				<h2>{{nombre}} {{apellido}}</h2>
				<a class='bubble notificaciones' >{{consumos}}</a>
				<a id="chat_unread" class='bubble mensajes' data-dialogId="{{_id}}">0</a>
			</li>
		{{/ each}}
	</ul>